* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    height: 80vh;
    color: white;
    background-image: url(Rectangle\ 47.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    margin-top: 20px;
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    font-size: 20px;
    gap: 40px;
    display: flex;
    margin-left: 50px;
    margin-right: 150px;
}
main{
    font-size: 40px;
    width: 50%;
    margin-top: 230px;
    margin-left: 90px;
}
main p{
    margin-top: 40px;
    font-size: 30px;
}
.b1{
    margin-top: 40px;
    padding: 15px;background-color: #0E9E2F;
    color: white;
    border: none;
    font-size: 20px;
}
.wt{
    margin-left: 1400px;
    position: absolute;
    margin-top: 40px;
}
.icon{
    display: none;
}
section{
    width: 90%;
    height: 90vh;
    background-color: aqua;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 50px;
}
.sc1{
    width: 100%;
    height: 150vh;
    padding-top: 80px;
    background-color: #686868;
    color: white;
}
.fr1{
    width: 90%;
    height: 145vh;
    margin: auto;
}
.frr{
    font-size: 19px;
    width: 30%;
}
.frr h1{
    margin-bottom: 30px;
}
.boxs{
    margin-top: 30px;
    width: 100%;  
    display: flex;
    justify-content: space-between;
}
.box{
    width: 30%;
    height: 400px;
    background-color: #555353;
}
.bx{
    font-size: 23px;
    width: 90%;
    height: 300px;
    margin-left: 40px;
}
.bx h1{
    margin-bottom: 10px;
}
.box img{
    text-align: center;
}
.b2{
    margin-top: 10px;
    padding: 10px;
    background-color: #0E9E2F;
    color: white;
    font-size: 20px;
    border: none;
}
.d{
    display: none;
}
.sc2{
    background-color: transparent;
    position: relative;
    height: 80vh;
    gap: 20px;
    display: grid;
    grid-template-rows: 450px 300px;
    grid-template-columns: 560px 557px 557px;
}
.pos{
    font-size: 40px;
    top: -50px;
    left: 700px;
    position: absolute;
}
.dv1{
    margin-top: 70px;
    font-size: 26px;
}
.dv1 h1{
    color: #0E9E2F;
    margin-bottom: 20px;
}
.dv2{
    grid-column: 2/4;
    background-image: url(unsplash_zbD8iz5ZJk4.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dv3{
    background-image: url(unsplash_2yNMsw-A2eI\ \(1\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dv4{
    background-image: url(unsplash_2yNMsw-A2eI.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dv5{
    background-image: url(unsplash_2yNMsw-A2eI\ \(2\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dv6{
    background-image: url(unsplash_zbD8iz5ZJk4\ \(1\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.dv7{
    background-image: url(unsplash_2yNMsw-A2eI\ \(3\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.dv8{
    background-image: url(unsplash_2yNMsw-A2eI\ \(3\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.dv9{
    background-image: url(unsplash_2yNMsw-A2eI\ \(3\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.dv10{
    background-image: url(unsplash_zbD8iz5ZJk4\ \(1\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.dv11{
    background-image: url(unsplash_2yNMsw-A2eI\ \(4\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.dv12{
    background-image: url(unsplash_zbD8iz5ZJk4\ \(2\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.dv13{
    background-image: url(unsplash_2yNMsw-A2eI\ \(5\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.b3 {
    display: none;
}
.dd{
    display: none;
}
.sc3{
    display: flex;
    padding-top: 2px;
    background-image: url(a1bb138bf68a24515f41e3fd01813eecfb1f9337.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.left{
    font-size: 30px;
    color: white;
    width: 45%;
    height: 75vh;
    margin-top: 90px;
    margin-left: 100px;
    /* background-color: aqua; */
}
.left h1{
    font-size: 82px;
    margin-bottom: 50px;
}
.df{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
span{
    font-size: 20px;color: #0E9E2F;
}
.right{
    padding-top: 2px;
    font-size: 23px;
    color: white;
    width: 45%;
    height: 75vh;
    margin-top: 90px;
    margin-left: 100px;
    background-color: #0e9e308c;
}
.right h1{
    margin-bottom: 50px;
    font-size: 40px;
}
.b{
    margin-bottom: 30px;
}
.gp{
    width: 80%;
    height: 60vh;
    margin: auto;
    margin-top: 50px;
}
.sc4{
    background-color: transparent;
}
.tt{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 120px;
}
.tt h1{
    font-size: 70px;
}
.sc44{
    width: 100%;
    height: 75vh;
    background-image: url(Group\ 1536.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
}
.sc5{
    font-size: 25px;
    padding-top: 2px;
    color: white;
    text-align: center;
    width: 100%;
    height: 40vh;
    background-image: url(Rectangle\ 47\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
}
.sc5 h1{
    margin-bottom: 30px;
    margin-top: 50px;
}
.b4{
    padding: 15px;background-color: #0E9E2F;
    color: white;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    width: 150px;
}
.ot{
    margin-bottom: 10px;
    width: 100%;
    display: flex;align-items: center;
    justify-content: space-between;
}
.ot h1{
    font-size: 65px;
}
hr{
    margin-top: 10px;
}
.sc6 {
    background-color: transparent;
    height: 60vh;
}
.crd{
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.g{
    color: #0E9E2F;
}
.st{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cr{
    font-size: 23px;
    padding: 20px;
    width: 25%;
    height: 40vh;
    background-color: lightgray;
}








@media (max-width:510px){
    header{
        background-size: 100% 100%;
    }
    nav{
        display: none;
    }
    .d{
        margin-top: 10px;
        margin-left: 220px;
        display: block;
    }
    .dn{
        display: none;
    }
    .header{
        width: 90%;
        margin: auto;
    }
    .icon{
        display: block;
    }
    main{
        margin-left: 10px;
        width: 100%;
        font-size: 10px;
    }
    main p{
        font-size: 15px;
    }
    .b1{
        width: 90%;
    }
    .sc1{
        height:100vh;
        width: 100%;
    }
    .fr1{
        height: 90vh;
        width: 100%;
    }
    .frr{
        font-size: 20px;
        width: 100%;
    }
    .boxs{
        gap: 10px;

        display: flex;
        overflow: scroll;
    }
    .box{
        margin-left: 10px;
        min-width: 90%;
    }
    .bx{
        font-size: 17px;
    }
    .ss{
        display: none;
    }
    .sc2{
        flex-direction: column;
        width: 100%;
    }
    .dv1{
        width: 100%;
        font-size: 18px;
    }
    .dv2 {
        width: 37%;
        margin-top: -220px;
        margin-left: -570px;
    }
    .dv5{
        margin-top: -550px;
        width: 75%;  
        margin-left: 10px;   
    }
    .pos{
        text-align: center;
        left: 0;
    }
    .dd{
        width: 75%;
        font-size: 17px;
        margin-top: -10px;
        margin-left: -570px;
        display: flex;
    }
    .sc3{
        width: 100%;
        flex-direction: column;
        background-size: 100% 100%;
    }
    .left{
        margin-left: 0;
        width: 100%;
        margin-top: 0px;
        font-size: 20px;
    }
    .left h1{
        font-size: 20px;
    }
    .right{
        margin-top: -20px;
        margin-left: 0;
        width: 100%;
        font-size: 16px;
    }
    .gp{
        margin-left: 10px;
        margin-top: -2px;
        width: 100%;
        height: 50vh;
    }
    .right h1{
        font-size: 20px;
    }
    .b{
        margin-bottom: 5px;
    }
    .sc4{
        height: 80vh;
        width: 100%;
    }
    .tt{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .tt img{
        width: 95%;
    }
    .sc6{
        width: 100%;
    }
    .ot{
        width: 100%;
        flex-direction: column;
    }
    .ot h1{
        font-size: 40px;
    }
    .hr1{
        display: none;
    }
    .crd{
        gap: 20px;
        overflow: scroll;
        width: 100%;
    }
    .cr{
        min-width: 90%;
    }
}